.locationCont{
    width: 100%;
    height: 35px;
    text-align: left;
    color: #888;
    line-height: 35px;
}
.locationCont h1{
    margin: 0;
}
.weatherLocationCont{
    font-family: 'Roboto', sans-serif;
    width: 400px;
    padding: 25px;
    box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, .75);
}